<root>

    <bean id="a" class="arhangel.dim.container.beans.A">
        <property name="power" val="200"/>
    </bean>

    <bean id="b" class="arhangel.dim.container.beans.B">
        <property name="count" val="6"/>
    </bean>

    <bean id="c" class="arhangel.dim.container.beans.C">
        <property name="aref" ref="a"/>
    </bean>

</root>
