<root>

    <bean id="carBean" class="arhangel.dim.container.beans.Car">
        <property name="gear" ref="gearBean"/>
        <property name="engine" ref="engineBean"/>
    </bean>
    <bean id="gearBean" class="arhangel.dim.container.beans.Gear">
        <property name="count" val="6"/>
    </bean>

    <bean id="engineBean" class="arhangel.dim.container.beans.Engine">
        <property name="power" val="200"/>
    </bean>

</root>
