<root>

    <bean id="protocol" class="arhangel.dim.core.net.StringProtocol"/>

    <bean id="server" class="arhangel.dim.server.Server">
        <property name="port" val="19000"/>
        <property name="protocol" ref="protocol"/>
        <property name="maxConnection" val="16"/>
    </bean>

</root>
